# Exam 1

files needed = ('taylor.csv')

Answer all the questions below in this notebook. You should insert as many cells into the notebook as you need. When you are finished, upload your finished notebook to Canvas. 

You may use your notes and the Internet, but you cannot work with others in class.  Remember, jupyter notebooks and python have lots of built in help facilities. 

The best way to use this practice exam is to first study, and then take the exam as you would in class --- with a 1:15 time cap. When you are finished, I would appreciate it if you took the quick two-question survey to give me your thoughts. [Survey link](https://forms.gle/pVKQ2Qjz9ez8X4U98)

## Question 0
Copy the following text into a new cell. 

`The quick brown fox jumps over the lazy dog.`

Then:

1. Strikethrough the word 'brown'
2. Italicize the word 'jumps'
3. Make the words 'lazy dog' a link to https://www.akc.org/dog-breeds/pug

The quick ~brown~ fox *jumps* over the [lazy dog](https://www.akc.org/dog-breeds/pug).

## Question 1

In [1]:
list1 = ['a', 'b', 'c', 'd', 'e', 'g', 'h', 'i', 'j']

1. Capitalize the entries in `list1` and store them in `list2`.
2. Insert `F` into `list2` in a way that preserves the alphabetic ordering of `list2`.
3. Slice `list2` into two lists: `list2a` includes letters 'A' through 'B' (inclusive) and `list2b` includes 'C' through 'J' inclusive.
4. Print out `list2`, `list2a`, and `list2b`

In [2]:
# 1
list2 = [i.upper() for i in list1]

# 2
list2.append('F')
list2.sort()

# 3
list2a = list2[:2]
list2b = list2[2:]

# 4
print('list2 is ', list2)
print('list2a is ', list2a)
print('list2b is ', list2b)

list2 is  ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
list2a is  ['A', 'B']
list2b is  ['C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

## Question 2
1. Using a loop, sum the squares of the numbers from 0 to 50. That is, compute the sum 
$$0+1^2 + 2^2+3^2+\cdots+50^2$$
2. Print out the sum and use string formatting to separate the thousands with a comma: xxx,xxx.

In [3]:
sumi = 0
for i in range(0,101):
    sumi = sumi + i**2 
    
print('The sum is {0:,}.'.format(sumi))

The sum is 338,350.

## Question 3
1. Write a function called `linear_demand` that takes a price as an input and returns the quantity demanded. The demand function is
$$ d(p) = -2\times p + 10$$

In [4]:
def linear_demand(p):
    return -2*p+10

2. Using a loop or  list comprehension, compute demand for the following list of prices and store the associated demands in a list named `demands`. Print `demands`.

In [5]:
prices = [0.5, 0.75, 1, 1.2, 2, 2.25, 3.33333, 6]

In [6]:
# As a loop
demands = []
for i in range(len(prices)):
    demands.append( linear_demand(prices[i]) )
    
print('demands (looping) =', demands)



# As a list comp
demands2  = [linear_demand(i) for i in prices]

print('demands (list comp) =', demands2)

demands (looping) = [9.0, 8.5, 8, 7.6, 6, 5.5, 3.3333399999999997, -2]
demands (list comp) = [9.0, 8.5, 8, 7.6, 6, 5.5, 3.3333399999999997, -2]

3. Write a new function named `linear_demand_2` that computes demand as in part 1, but have the function return 0 if the computed demand is negative.

In [7]:
def linear_demand_2(p):
    d = -2*p+10
    if d < 0:
        d = 0
    return d


# If you are really feeling crazy...call a function in a function

def linear_demand_3(p):
    d = linear_demand(p)
    if d < 0:
        d = 0
    return d

4. Test your new function on `p=6` and `p=2.25`. Print the demands associated with each price.

In [8]:
print('When p=6, demand is', linear_demand_2(6))
print('When p=2.25, demand is', linear_demand_2(2.25))

When p=6, demand is 0
When p=2.25, demand is 5.5

## Question 4

Now let's work with some data. This question should be completed using a pandas DataFrame. 

The Taylor rule relates the **target** federal funds rate $i$ to the inflation rate $\pi$ and log output $y$ according to 

$$ i_t = \pi_t + r^*_t + 0.5(\pi_t-\pi^*_t)+0.5(y_t-\bar{y}_t)\times100$$

where $r^*$ is the 'long-run' real interest rate, $\pi^*$ is the target interest rate and $\bar{y}_t$ is log 'potential output'. 

Let the long-run interest rate and the inflation target be constant: $r^*_t=1.25$ and $\pi^*_t=2.0$.

### Data
The file 'taylor.csv' contains quarterly data on the components of the Taylor rule:
* DATE = the date, '.00' means the first quarter, '.25' means the second quarter, '.50' means the third quarter and '.75' means the fourth quarter. 
* PCETRIM12M159SFRBDAL = the inflation rate, expressed in percent
* FEDFUNDS = the **actual** federal funds rate, expressed in percent
* GDPPOT  = log potential GDP
* GDPC1 = log GDP

1. Load 'taylor.csv'. \[Make sure the data are what you expect! We'll be using data from 1978-2019.\]

In [9]:
import pandas as pd
df = pd.read_csv('taylor.csv', na_values='.', header=1)
print(df.head())
print(df.dtypes)

      DATE  PCETRIM12M159SFRBDAL  FEDFUNDS    GDPPOT     GDPC1
0  1949.00                   NaN       NaN  7.652973  7.652338
1  1949.25                   NaN       NaN  7.665613  7.648921
2  1949.50                   NaN       NaN  7.678326  7.659192
3  1949.75                   NaN       NaN  7.691109  7.650764
4  1950.00                   NaN       NaN  7.703955  7.689313
DATE                    float64
PCETRIM12M159SFRBDAL    float64
FEDFUNDS                float64
GDPPOT                  float64
GDPC1                   float64
dtype: object

2. Rename 
   * 'PCETRIM12M159SFRBDAL' to 'inflation' 
   * 'GDPPOT' to 'pot_gdp'
   * 'FEDFUNDS' to 'fed_funds'
   * 'GDPC1' to 'gdp'

In [10]:
data = df.set_index('DATE')
data = data.rename(columns={'PCETRIM12M159SFRBDAL':'inflation', 'GDPPOT':'pot_gdp', 'FEDFUNDS':'fed_funds', 'GDPC1':'gdp'})
data.head()

         inflation  fed_funds   pot_gdp       gdp
DATE
1949.00        NaN        NaN  7.652973  7.652338
1949.25        NaN        NaN  7.665613  7.648921
1949.50        NaN        NaN  7.678326  7.659192
1949.75        NaN        NaN  7.691109  7.650764
1950.00        NaN        NaN  7.703955  7.689313

3. Using the data, compute the target federal funds rate using the Taylor rule equation. Store it in a variable named `taylori`.

In [11]:
data['taylori'] = data['inflation'] + 1.25 + 0.5*(data['inflation']-2.0) + 0.5*(data['gdp']-data['pot_gdp'])*100

4. Compute  `taylori` - `fed_funds`. This is the difference between the Taylor rule's target fed funds rate and the actual fed funds rate. Store the difference in a variable named 'deviation'.

In [12]:
data['deviation'] = data['taylori'] - data['fed_funds']
data.sample(10)

         inflation  fed_funds   pot_gdp       gdp   taylori  deviation
DATE
1966.00        NaN   4.556667  8.334303  8.390880       NaN        NaN
2007.50   2.316667   5.073333  9.656103  9.659295  3.884630  -1.188703
1959.75        NaN   3.990000  8.075116  8.072080       NaN        NaN
1982.75   4.816667   9.286667  8.902428  8.825045  3.605832  -5.680834
1990.50   4.076667   8.160000  9.160951  9.148305  5.732737  -2.427263
2026.00        NaN        NaN  9.977718       NaN       NaN        NaN
1958.00        NaN   1.863333  8.009729  7.974627       NaN        NaN
1959.00        NaN   2.570000  8.047030  8.046209       NaN        NaN
2002.00   2.240000   1.733333  9.522776  9.502786  2.610510   0.877177
2005.25   2.220000   2.943333  9.609257  9.605067  3.370470   0.427137

5. Print out the following, each with three digits to the right of the decimal place. 
   1. The mean and max deviation for 1978-2019
   2. The mean and max deviation for 1978-1985
   3. The mean and max deviation for 2008-2019
   
Print them out as statements like: 

'1978-2019: The mean deviation is x.xxx percent and the max deviation is x.xxx percent.'

In [13]:
print('1978-2019: The mean deviation is {0:.3f} percent and the max deviation is {1:.3f} percent.'.format(data['deviation'].loc[1978:2019].mean(), data['deviation'].loc[1978:2019].max()))
print('1978-1985: The mean deviation is {0:.3f} percent and the max deviation is {1:.3f} percent.'.format(data['deviation'].loc[1978:1985].mean(), data['deviation'].loc[1978:1985].max()))
print('2008-2019: The mean deviation is {0:6.3f} percent and the max deviation is {1:.3f} percent.'.format(data['deviation'].loc[2008:2019].mean(), data['deviation'].loc[2008:2019].max()))

1978-2019: The mean deviation is -0.880 percent and the max deviation is 2.588 percent.
1978-1985: The mean deviation is -2.942 percent and the max deviation is 2.588 percent.
2008-2019: The mean deviation is  1.141 percent and the max deviation is 2.177 percent.

### You are finished!
Upload your completed notebook to Canvas. 

\[Well, not this one, because it is a practice. You could take the [survey](https://forms.gle/pVKQ2Qjz9ez8X4U98), though, to let me know how it went.\]