# Coding practice \#2: Due midnight, October 11

files needed = ('banks_and_branches.csv', 'GDPCA.csv')

Answer the questions below in a jupyter notebook. You can simply add cells to this notebook and enter your answers. When you are finished, upload the completed notebook to canvas. 

A reminder: My office hours are Tuesdays 2:30PM-3:30PM and Thursdays 10:00AM-11:00AM in Soc Sci 7444.

*You should feel free to discuss the coding practice with your classmates, but the work you turn in should be your own.*

# Exercise 0: Ruhl, Kim
Replace 'Your name' above with your actual name. Enter it as: last name, first name.

# Exercise 1: Subsets
Let's practice pulling subsets out of a data frame. We subset a lot. Our goal is to build some muscle memory, so that every time we need to subset the data, we do not need to go look up how to do it. 

To this end, first try the exercises below without consulting your notes or the internet. Sort out where you need to improve and keep practicing! 

A. Create a DataFrame from the following dict.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

data_dict = {'soda':['coke', 'diet coke', 'sprite', 'pepsi', 'mug', 'mt. dew'],
            'cals':[140, 1, 90, 150, 130, 170],
            'sodium':[45, 40, 65, 30, 65, 60],
            'corp': ['coca cola', 'coca cola', 'coca cola', 'pepsico', 'pepsico', 'pepsico']}

soda = pd.DataFrame(data_dict)
soda

        soda  cals  sodium       corp
0       coke   140      45  coca cola
1  diet coke     1      40  coca cola
2     sprite    90      65  coca cola
3      pepsi   150      30    pepsico
4        mug   130      65    pepsico
5    mt. dew   170      60    pepsico

B. Print a DataFrame containing only sodas with more than 10 calories.

In [2]:
soda[soda['cals']>10]

      soda  cals  sodium       corp
0     coke   140      45  coca cola
2   sprite    90      65  coca cola
3    pepsi   150      30    pepsico
4      mug   130      65    pepsico
5  mt. dew   170      60    pepsico

C. Print a DataFrame containing only sodas with more than 10 calories and less than 100 calories.

In [3]:
soda[ (soda['cals']>10) & (soda['cals']< 100)]

     soda  cals  sodium       corp
2  sprite    90      65  coca cola

D. Print a DataFrame containing only data for coke, pepsi, and mug. Use the `isin()` method.

In [4]:
to_get = ['coke', 'pepsi', 'mug']
soda[ soda['soda'].isin(to_get) ]

    soda  cals  sodium       corp
0   coke   140      45  coca cola
3  pepsi   150      30    pepsico
4    mug   130      65    pepsico

E. Set the index of the DataFrame to 'soda'.

In [5]:
soda.set_index('soda', inplace=True)

F. Use `.loc[]` to print a DataFrame containing only coke, pepsi, and mug.

In [6]:
soda.loc[['coke','pepsi', 'mug']]

       cals  sodium       corp
soda
coke    140      45  coca cola
pepsi   150      30    pepsico
mug     130      65    pepsico

G. Print out the average sodium for pepsico products that have more than 135 calories.

In [7]:
soda[ (soda['corp']=='pepsico') & (soda['cals']>135)]['sodium'].mean()

45.0

H. Print out the number of pepsico products with sodium above 60 mg.

In [8]:
soda[ (soda['corp']=='pepsico') & (soda['sodium']>60) ].shape[0]

1

I. Print out the calories in a coke.

In [9]:
soda.loc['coke', 'cals']

140

# Exercise 2: Importing data

The file "banks_and_branches.csv" contains data on the number of commercial banking institutions, branches, and offices in the United States at the end of each year between 1934 to 2017. (This data is maintained by the Federal Deposit Insurance Corporation (FDIC) and can be downloaded from https://www5.fdic.gov/hsob/SelectRpt.asp?EntryTyp=10&Header=1, series CB01. The FDIC has a lot of interesting banking data. You are encouraged to browse around their website to see what's there -- this might be a useful source for your final project.)

Your task is to import this data into Python.

### Part (a):
In the code cell below, import the data from "banks_and_branches.csv" into a Pandas data frame called `banking_data`. If you open the .csv file in Excel or a similar program, you'll notice that there are notes in several of the cells at the beginning of the file. Rather than delete these manually, you should use the `header` option in `pandas.read_csv` to use the correct row for the column names.

In [10]:
import pandas as pd

banking_data = pd.read_csv("banks_and_branches.csv",header = 6)

### Part (b):
1. Convert each of the column names to lower case using a list comprehension.
2. We don't need the 'branches' column -- you might notice that the variable 'offices' is equal to 'institutions' plus 'branches'. Delete the 'branches' column.  
3. Rename the 'institutions' column 'banks'.
4. Then, print the data types of each column.

In [11]:
# Convert column names to lower case:
banking_data.columns = [col_name.lower() for col_name in banking_data.columns]

# Delete the 'branches' column. Two ways to do this:
# Method 1:
#del banking_data['branches']
# Method 2:
banking_data.drop('branches', axis=1, inplace =True)

# Rename 'institutions' to 'banks'
banking_data.rename(columns={'institutions': 'banks'}, inplace=True)

# Print the data type of each column: 
print(banking_data.dtypes)

year        int64
banks      object
offices    object
dtype: object

### Part (c):

You'll notice that some of the columns are listed as objects and not integers. Convert these columns to integers. Note that you'll need to remove the thousands separator (",") from each number first. Print the data types of each column to confirm that they are all integers.

Later, we will need a variable containing the average number of offices per institution in each year. Add a new column called 'offices_per_bank' to `banking_data` with this information.

In [12]:
# Convert strings to integers. Note that we need to remove the comma
# We could also do this by using some additional options in pd.read_csv()
banking_data['banks'] = banking_data['banks'].str.replace(",","").astype(int)
banking_data['offices'] = banking_data['offices'].str.replace(",","").astype(int)

# Print the data type of each column. These should all be integers now.
print(banking_data.dtypes)

# Create column with the number of offices per bank in each year.
banking_data['offices_per_bank'] = banking_data['offices']/banking_data['banks']

year       int64
banks      int32
offices    int32
dtype: object

# Exercise 3
Let's work with U.S. GDP. The data come from FRED. The goal it to brush up on our data cleaning skills and compute a few summary statistics. 

### Part (a):
1. The file GDPCA.csv contains annual real GDP. Read it into a DataFrame and create a series of growth rates.

In [13]:
import matplotlib.pyplot as plt
import pandas as pd

data = pd.read_csv('GDPCA.csv', index_col=0, na_values='.')
data.rename(columns={'GDPCA':'gdp'}, inplace=True)
data['gdp_growth'] = data['gdp'].pct_change()*100
data.head()

           gdp  gdp_growth
DATE
1929  1109.448         NaN
1930  1015.058   -8.507835
1931   950.037   -6.405644
1932   827.495  -12.898656
1933   817.265   -1.236261

2. Something went wrong, right? There is a gremlin in the data. Find a way to use read_csv() to turn the bad data into NaNs. Now compute the growth rates. Print the first 5 rows.

### Part (b) 
1. Compute the mean gdp growth rate for 1960-1985
2. Compute the standard deviation of the gdp growth rate for 1960-1985
3. Repeat parts 1. and 2. for the period 1985-2007
4. Print out your results in a few *neatly formatted* sentences. Comment on the differences between the two periods.

In [14]:
meanpre = data.loc[1960:1985, 'gdp_growth'].mean() 
stdpre = data.loc[1960:1985, 'gdp_growth'].std()

In [15]:
meanpost = data.loc[1985:2007, 'gdp_growth'].mean() 
stdpost = data.loc[1985:2007, 'gdp_growth'].std()

In [16]:
print('1960-1985: The growth rate is {0:0.2f} percent and the standard deviation {1:0.2f} percent.'.format(meanpre, stdpre))
print('1985-2007: The growth rate is {0:0.2f} percent and the standard deviation {1:0.2f} percent.'.format(meanpost, stdpost))

1960-1985: The growth rate is 3.62 percent and the standard deviation 2.47 percent.
1985-2007: The growth rate is 3.17 percent and the standard deviation 1.21 percent.

The standard deviation falls in the second period. This is known as the 'great moderation.' The average growth rate falls a little, too.

### Part (c)
1. Recompute the mean and standard deviation for 1985-2018. 
2. How have things changed?

In [17]:
meanpost2 = data.loc[1985:2018, 'gdp_growth'].mean() 
stdpost2 = data.loc[1985:2018, 'gdp_growth'].std() 
print('1960-1985: The growth rate is {0:0.2f} percent and the standard deviation {1:0.2f} percent.'.format(meanpre, stdpre))
print('1985-2018: The growth rate is {0:0.2f} percent and the standard deviation {1:0.2f} percent.'.format(meanpost2, stdpost2))

1960-1985: The growth rate is 3.62 percent and the standard deviation 2.47 percent.
1985-2018: The growth rate is 2.67 percent and the standard deviation 1.52 percent.

The mean has fallen a lot more! This is largely driven by the deep recession in that began in 2007.